body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222;
    color: lightgreen;
    padding: 20px 100px;
}

h1, h2{
    color: #ffc;
}

img{
    filter: grayscale(100%);
}